@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald&display=swap");
@font-face {
  font-family: "Avenir";
  src: local("Avenir Book Oblique"), local("Avenir-Book-Oblique"), url("../fonts/Avenir-BookOblique.woff2") format("woff2"), url("../fonts/Avenir-BookOblique.woff") format("woff"), url("../fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arca Majora 3";
  src: url("../fonts/ArcaMajora3-Bold.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.18em;
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 16px;
  line-height: 168%;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
}

p,
span {
  text-transform: unset;
  font-size: 14px;
  line-height: 167.5%;
}

span {
  font-size: 12px;
}

.button,
.button-link {
  min-width: 154px;
  max-width: 442px;
  padding: 1rem 2.5rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  border: 1px solid #000000;
  opacity: 1 !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}

.button:hover:not(:disabled):not([disabled]), .button:focus:not(:disabled):not([disabled]), .button:active:not(:disabled):not([disabled]), .button:focus-within:not(:disabled):not([disabled]), .button:focus-visible:not(:disabled):not([disabled]),
.button-link:hover:not(:disabled):not([disabled]),
.button-link:focus:not(:disabled):not([disabled]),
.button-link:active:not(:disabled):not([disabled]),
.button-link:focus-within:not(:disabled):not([disabled]),
.button-link:focus-visible:not(:disabled):not([disabled]) {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.button:disabled, .button[disabled],
.button-link:disabled,
.button-link[disabled] {
  background-color: #c4c4c4;
  cursor: not-allowed;
  color: #ffffff;
  border: none;
}

.button-link {
  max-width: unset;
  min-width: unset;
  padding: 0;
  margin: 0;
  border: none;
  color: #000000;
  background-color: transparent;
  text-transform: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 167.5%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.button-link:hover:not(:disabled):not([disabled]), .button-link:focus:not(:disabled):not([disabled]), .button-link:active:not(:disabled):not([disabled]), .button-link:focus-within:not(:disabled):not([disabled]), .button-link:focus-visible:not(:disabled):not([disabled]) {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

hr.small {
  margin: 0.5rem 0;
  border-top: solid 1px #f1f1f1;
}

.header {
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header .notification-block {
  color: #000000;
  background-color: #fbfbfb;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .notification-block p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 168%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: -webkit-filter 300ms ease-in-out;
  transition: -webkit-filter 300ms ease-in-out;
  transition: filter 300ms ease-in-out;
  transition: filter 300ms ease-in-out, -webkit-filter 300ms ease-in-out;
}

.header-navigation__links > li:not(:last-child) {
  margin-right: 2.5rem;
}

.header-navigation__icons:first-of-type {
  display: none;
}

.header-navigation__icons li:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (max-width: 960px) {
  .header-navigation__links {
    display: none !important;
  }
  .header-navigation__icons:first-of-type {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-navigation__icons > li:not(:last-child) {
    display: none;
  }
}

.header-navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-navigation ul li {
  cursor: pointer;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  padding-bottom: 2.5rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, 300ms ease-in-out;
  transition: visibility 0s, 300ms ease-in-out;
}

.header-menu.active {
  visibility: visible;
  opacity: 1;
}

.header-menu .nav-items {
  width: 80%;
}

.header-menu .nav-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu .nav-items ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20.1px;
  color: #8f8f8f;
  cursor: pointer;
}

.header-menu .nav-items ul li:first-child {
  margin-bottom: 1rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  line-height: 16.8px;
  color: #000000;
}

.header-menu .nav-image {
  width: 30%;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

.header-menu .nav-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 443px;
  height: auto;
  z-index: 5;
}

.layout-wrapper {
  padding-top: 92px;
}

.starts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container {
  overflow-y: scroll;
  max-height: 900px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .slider-container {
    max-height: 500px;
  }
}

.slider-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider-controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .slider-controllers {
    margin-left: 0px;
    margin-top: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.slider-controllers li {
  width: 6px;
  height: 6px;
  background: #f1f1f1;
  border-radius: 50%;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .slider-controllers li {
    margin-bottom: 0px;
    margin-left: 8px;
  }
}

.slider-controllers .active-dot {
  background: #000000;
}

.product-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  max-width: 442px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.product-info-container h3 {
  font-weight: bold;
}

.product-info-container > p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  max-width: 442px;
}

.product-info-container .product-options {
  list-style: none;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  padding-right: 1rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: 244px;
  overflow-y: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 55px;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .product-info-container .product-options {
    height: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.product-info-container .product-options__option {
  border: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.product-info-container .product-options__option:hover:not(.active):not(.disabled) {
  border: 1px solid #353535;
}

.product-info-container .product-options__option.active {
  border: 1px solid #000000;
  cursor: default;
}

.product-info-container .product-options__option.disabled {
  cursor: not-allowed;
}

.product-info-container .product-options__option.disabled > p {
  text-decoration: line-through;
  color: #c4c4c4;
}

.product-info-container .product-options::-webkit-scrollbar {
  width: 4px;
}

.product-info-container .product-options::-webkit-scrollbar-track {
  border-radius: 92px;
  background: #f1f1f1;
}

.product-info-container .product-options::-webkit-scrollbar-thumb {
  border-radius: 92px;
  background: #353535;
}

.product-info-container .shipping-info {
  font-family: "Avenir";
  color: #979797;
}

.product-info-container .button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.product-info-container p.extra {
  font-weight: 600;
  font-size: 1rem;
  line-height: 27px;
}

.product-info-container .suggestion-title {
  font-weight: bolder;
  font-size: 14px;
}

.product-info-container .suggestion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 0.5rem;
}

.product-info-container .suggestion-container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.product-info-container .suggestion-container__button-link {
  font-size: 13px;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  color: #000000;
  background-color: transparent;
  text-transform: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.product-info-container .suggestion-container__button-link:focus {
  outline: none;
}

.product-info-container .suggestion-container .suggestion-container__image {
  width: 100px;
  height: 125px;
  background-color: #f1f1f1;
  overflow: hidden;
  position: relative;
}

.product-info-container .suggestion-container .suggestion-container__image img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-description-container {
  background-color: #000000;
}

.product-description-container .feature-container {
  min-height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-description-container .feature-container__dumbbell-description {
  padding-left: 80px;
}

.product-description-container .feature-container__dumbbell-description__title {
  margin-bottom: 32px !important;
}

.product-description-container .feature-container__dumbbell-description__description {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .product-description-container .feature-container__dumbbell-description__title {
    margin-bottom: 20px;
  }
  .product-description-container .feature-container__dumbbell-description__description {
    margin-bottom: 30px;
  }
}

.product-description-container .feature-container.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-description-container .feature-container h2,
.product-description-container .feature-container h3,
.product-description-container .feature-container p,
.product-description-container .feature-container span {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .product-description-container .feature-container {
    padding: 40px 1.5rem;
    min-height: unset;
  }
}

.product-description-container .feature-container p.special {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 167.5%;
  margin-bottom: 1.5rem;
}

.product-description-container .feature-container p.special:not(:nth-child(1)) {
  margin-top: 1.5rem;
}

.product-description-container .feature-container ul.special {
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 450px;
}

.product-description-container .feature-container ul.special li {
  margin: 0.5rem;
  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 167.5%;
}

.product-description-container .feature-container ul.special li::before {
  content: "/";
  color: #c2a578;
  margin-right: 0.5rem;
  height: 100%;
}

.product-description-container .feature-container.toggle-right {
  padding-right: 0;
}

.product-description-container .feature-container.toggle-left {
  padding-left: 0;
}

.product-description-container .feature-container img {
  width: 100%;
  height: auto;
}

.desktop-verticle-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

@media screen and (max-width: 768px) {
  .desktop-verticle-lines {
    display: none;
  }
}

.desktop-verticle-lines > div:nth-child(1) {
  height: 100%;
  border-left: 1px solid #c2a578;
  position: absolute;
  top: 0;
  left: calc(25% * 1);
  opacity: 0.2;
}

.desktop-verticle-lines > div:nth-child(2) {
  height: 100%;
  border-left: 1px solid #c2a578;
  position: absolute;
  top: 0;
  left: calc(25% * 2);
  opacity: 0.2;
}

.desktop-verticle-lines > div:nth-child(3) {
  height: 100%;
  border-left: 1px solid #c2a578;
  position: absolute;
  top: 0;
  left: calc(25% * 3);
  opacity: 0.2;
}

.suggestions-container {
  padding: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions-container h3 {
  margin-bottom: 40px;
}

.suggestions-container .suggestion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}

.suggestions-container .suggestion-list::-webkit-scrollbar {
  height: 4px;
}

.suggestions-container .suggestion-list::-webkit-scrollbar-track {
  border-radius: 92px;
  background: #f1f1f1;
}

.suggestions-container .suggestion-list::-webkit-scrollbar-thumb {
  border-radius: 92px;
  background: #353535;
}

.suggestions-container .suggestion-list .suggestion {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .suggestions-container .suggestion-list .suggestion {
    min-width: 50%;
  }
}

.suggestions-container .suggestion-list .suggestion > *:not(:first-child) {
  margin-top: 0.5rem;
}

.suggestions-container .suggestion-list .suggestion:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .suggestions-container .suggestion-list .suggestion:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.suggestions-container .suggestion-list .suggestion .suggestion-image {
  width: 100%;
  padding-bottom: 125%;
  position: relative;
  background-color: #f1f1f1;
  overflow: hidden;
  cursor: pointer;
}

.suggestions-container .suggestion-list .suggestion .suggestion-image .tags-list {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggestions-container .suggestion-list .suggestion .suggestion-image .tags-list .tag {
  padding: 4px 6px;
  background-color: #ffffff;
  margin-right: 0.5rem;
}

.suggestions-container .suggestion-list .suggestion .suggestion-image .tags-list .tag:last-child {
  margin-right: 0;
}

.suggestions-container .suggestion-list .suggestion .suggestion-image img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  z-index: 2;
}

.suggestions-container .suggestion-list .suggestion .suggestion-image:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.suggestions-container .suggestion-list .suggestion .suggestion-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggestions-container .suggestion-list .suggestion .suggestion-rate > *:not(:last-child) {
  margin-right: 0.5rem;
}

.suggestions-container .suggestion-list .suggestion .suggestion-rate > *:not(:last-child) img {
  height: 16px;
  width: 16px;
}

.suggestions-container .suggestion-list .suggestion .suggestion-price {
  color: #353535;
}
/*# sourceMappingURL=main.css.map */