// FONTS

//=== Open Sans: Light, Bold, Semi Bold, Regular
//=== Oswald: Light
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald&display=swap");
//=== Avenir
@font-face {
  font-family: "Avenir";
  src: local("Avenir Book Oblique"), local("Avenir-Book-Oblique"),
    url("../fonts/Avenir-BookOblique.woff2") format("woff2"),
    url("../fonts/Avenir-BookOblique.woff") format("woff"),
    url("../fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//=== Arca Majora 3
@font-face {
  font-family: "Arca Majora 3";
  src: url("../fonts/ArcaMajora3-Bold.otf") format("opentype");
}

// COLORS

//=== Primary
$COLOR_PRIMARY_BLACK: #000000;
$COLOR_PRIMARY_WHITE: #ffffff;
$COLOR_PRIMARY_GOLD: #c2a578;

//=== Secondary
$COLOR_GRAY_50: #fbfbfb;
$COLOR_GRAY_100: #f1f1f1;
$COLOR_GRAY_200: #c4c4c4;
$COLOR_GRAY_400: #8f8f8f;
$COLOR_GRAY_900: #353535;

//=== Functional
$COLOR_DANGER: #da0000;
$COLOR_SUCCESS: #6fcf97;

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.18em;

  @media screen and (max-width: 1440px) {
    font-size: 36px;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.08em;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

h4 {
  font-size: 16px;
  line-height: 168%;
  letter-spacing: 0.1em;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

h5 {
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
}

p,
span {
  text-transform: unset;
  font-size: 14px;
  line-height: 167.5%;
}

span {
  font-size: 12px;
}

.button,
.button-link {
  min-width: 154px;
  max-width: 442px;
  padding: 1rem 2.5rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $COLOR_PRIMARY_WHITE;
  background-color: $COLOR_PRIMARY_BLACK;
  border-radius: 0;
  transition: background-color 200ms ease;
  border: 1px solid $COLOR_PRIMARY_BLACK;
  opacity: 1 !important;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active,
  &:focus-within,
  &:focus-visible {
    &:not(:disabled):not([disabled]) {
      outline: none;
      box-shadow: none;
      background-color: $COLOR_PRIMARY_WHITE;
      color: $COLOR_PRIMARY_BLACK;
      cursor: pointer;
    }
  }

  &:disabled,
  &[disabled] {
    background-color: $COLOR_GRAY_200;
    cursor: not-allowed;
    color: $COLOR_PRIMARY_WHITE;
    border: none;
  }
}

.button-link {
  max-width: unset;
  min-width: unset;
  padding: 0;
  margin: 0;
  border: none;
  color: $COLOR_PRIMARY_BLACK;
  background-color: transparent;
  text-transform: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 167.5%;
  text-decoration-line: underline;

  &:hover,
  &:focus,
  &:active,
  &:focus-within,
  &:focus-visible {
    &:not(:disabled):not([disabled]) {
      outline: none;
      box-shadow: none;
      color: $COLOR_PRIMARY_BLACK;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

hr.small {
  margin: 0.5rem 0;
  border-top: solid 1px $COLOR_GRAY_100;
}

.header {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .notification-block {
    color: $COLOR_PRIMARY_BLACK;
    background-color: $COLOR_GRAY_50;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 168%;

      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
    }
  }

  &-navigation {
    display: flex;
    justify-content: space-between;
    height: 3.25rem;
    align-items: center;
    position: relative;
    transition: filter 300ms ease-in-out;

    &__links {
      > li:not(:last-child) {
        margin-right: 2.5rem;
      }
    }

    &__icons {
      &:first-of-type {
        display: none;
      }

      li:not(:last-child) {
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: 960px) {
      &__links {
        display: none!important;
      }

      &__icons {
        &:first-of-type {
          display: flex !important;
        }

        > li:not(:last-child) {
          display: none;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      color: black;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 140%;
      letter-spacing: 0.175em;
      text-transform: uppercase;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
      }
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $COLOR_PRIMARY_WHITE;
    position: absolute;
    top: 100%;
    left: 0;
    padding-bottom: 2.5rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, 300ms ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .nav-items {
      width: 80%;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20.1px;
          color: $COLOR_GRAY_400;
          cursor: pointer;

          &:first-child {
            margin-bottom: 1rem;
            letter-spacing: 0.075rem;
            text-transform: uppercase;
            line-height: 16.8px;

            color: $COLOR_PRIMARY_BLACK;
          }
        }
      }
    }

    .nav-image {
      width: 30%;
      height: 100%;
      min-height: 300px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 443px;
        height: auto;
        z-index: 5;
      }
    }
  }
}
.layout-wrapper {
  padding-top: 92px;
}
.starts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-container {
  overflow-y: scroll;
  max-height: 900px;
  flex-grow: 1;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 768px) {
    max-height: 500px;
  }
}
.slider-image {
  display: block;
  object-fit: cover;
  width: 100%;
}
.slider-controllers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;

  @media screen and (max-width: 768px) {
    margin-left: 0px;
    margin-top: 8px;
    flex-direction: row;
  }
  li {
    width: 6px;
    height: 6px;
    background: $COLOR_GRAY_100;
    border-radius: 50%;
    margin-bottom: 8px;
    @media screen and (max-width: 768px) {
      margin-bottom: 0px;
      margin-left: 8px;
    }
  }
  .active-dot {
    background: $COLOR_PRIMARY_BLACK;
  }
}
.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  max-width: 442px;
  width: 100%;
  margin: 0 auto;
  height: 100%;

  h3 {
    font-weight: bold;
  }

  > p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    max-width: 442px;
  }

  .product-options {
    list-style: none;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    padding-right: 1rem;
    width: 100%;
    display: grid;
    height: 244px;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 55px;
    gap: 0.5rem;

    @media screen and (max-width: 768px) {
      height: unset;
      grid-template-columns: 1fr 1fr;
    }

    &__option {
      border: 1px solid $COLOR_GRAY_100;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover:not(.active):not(.disabled) {
        border: 1px solid $COLOR_GRAY_900;
      }

      &.active {
        border: 1px solid $COLOR_PRIMARY_BLACK;
        cursor: default;
      }

      &.disabled {
        cursor: not-allowed;

        > p {
          text-decoration: line-through;
          color: $COLOR_GRAY_200;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 92px;
      background: $COLOR_GRAY_100;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 92px;
      background: $COLOR_GRAY_900;
    }
  }

  .shipping-info {
    font-family: "Avenir";
    color: #979797;
  }

  .button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  p.extra {
    font-weight: 600;
    font-size: 1rem;
    line-height: 27px;
  }
  .suggestion-title {
    font-weight: bolder;
    font-size: 14px;
  }
  .suggestion-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    &__info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;
    }
    &__button-link {
      font-size: 13px;
      text-align: left;
      padding: 0;
      margin: 0;
      border: none;
      color: $COLOR_PRIMARY_BLACK;
      background-color: transparent;
      text-transform: none;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      line-height: 167.5%;
      text-decoration-line: underline;
      &:focus {
        outline: none;
      }
    }
    .suggestion-container__image {
      width: 100px;
      height: 125px;
      background-color: $COLOR_GRAY_100;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.product-description-container {
  background-color: $COLOR_PRIMARY_BLACK;

  .feature-container {
    min-height: 620px;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    justify-content: center;
    &__dumbbell-description {
      padding-left: 80px;

      &__title {
        margin-bottom: 32px !important;
      }
      &__description {
        margin-bottom: 80px;
      }
      @media screen and (max-width: 768px) {
        &__title {
          margin-bottom: 20px;
        }
        &__description {
          margin-bottom: 30px;
        }
      }
    }

    &.space-around {
      justify-content: space-around;
    }

    h2,
    h3,
    p,
    span {
      color: white !important;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 1.5rem;
      min-height: unset;
    }

    p.special {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 167.5%;
      margin-bottom: 1.5rem;

      &:not(:nth-child(1)) {
        margin-top: 1.5rem;
      }
    }

    ul.special {
      color: white;
      list-style: none;
      padding: 0;
      margin: 0;
      max-width: 450px;

      li {
        margin: 0.5rem;
        font-family: "Arca Majora 3";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 167.5%;

        &::before {
          content: "/";
          color: $COLOR_PRIMARY_GOLD;
          margin-right: 0.5rem;
          height: 100%;
        }
      }
    }

    &.toggle-right {
      padding-right: 0;
    }

    &.toggle-left {
      padding-left: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.desktop-verticle-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @for $i from 1 through 3 {
    > div:nth-child(#{$i}) {
      height: 100%;
      border-left: 1px solid $COLOR_PRIMARY_GOLD;
      position: absolute;
      top: 0;
      left: calc(25% * #{$i});
      opacity: 0.2;
    }
  }
}

.suggestions-container {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 40px;
  }

  .suggestion-list {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    overflow-x: auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 92px;
      background: $COLOR_GRAY_100;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 92px;
      background: $COLOR_GRAY_900;
    }

    .suggestion {
      width: 25%;

      @media screen and (max-width: 768px) {
        min-width: 50%;
      }

      > *:not(:first-child) {
        margin-top: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 1rem;

        @media screen and (max-width: 768px) {
          margin-right: 0.5rem;
        }
      }

      .suggestion-image {
        width: 100%;
        padding-bottom: 125%;
        position: relative;
        background-color: $COLOR_GRAY_100;
        overflow: hidden;
        cursor: pointer;

        .tags-list {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          z-index: 3;
          display: flex;

          .tag {
            padding: 4px 6px;
            background-color: $COLOR_PRIMARY_WHITE;
            margin-right: 0.5rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        img {
          width: 100%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 150ms ease;
          z-index: 2;
        }

        &:hover {
          img {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }

      .suggestion-rate {
        display: flex;

        > *:not(:last-child) {
          margin-right: 0.5rem;
          img {
            height: 16px;
            width: 16px;
          }
        }
      }

      .suggestion-price {
        color: $COLOR_GRAY_900;
      }
    }
  }
}
